
input[type="text"],label{
    font-size: 2rem;
    display: block; 
    font-family: inherit;
    padding:.5rem; 
    border-radius:8px;
    width:10;
}
label{
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .1rem;
}
input:focus,button:focus{
    outline: none;
}
button{
    font-family: inherit;
    padding:1rem;
    font-size: 2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s;
    font-weight: bold;
    margin-top:2rem;
}

button:hover{
    background-color: #54483A;
    color:white;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
    transform: translateY(-1px);
}
button:active{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
    transform: translateY(-3px);
}